<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    {{> head/head head.ru}}
</head>
<body class="l-body">

        {{> header/header header.ru}}

        {{> hero/hero hero.ru}}

        {{> footer/footer footer.ru}}

        {{> endFile/endFile}}

</body>
</html>
