<section class="s-footer">
    <div class="s-footer__description">
        <div class="l-wrap-thin">
            {{description}}
        </div>
    </div>
    <div class="s-footer__copyright">
        <div class="l-wrap">
            <div class="u-flex">
                <div class="s-footer__copyright-team">
                    <p> <span class="s-footer__copyright-span">{{from}}</span> <a class="s-footer__copyright-link" href="http://unit6.ru" target="_blank">unit6</a></p>
                </div>
                <div class="s-footer__copyright-release">
                    <p>                    <span class="s-footer__copyright-span">{{release}}</span> {{date}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
