.s-footer{
    background-color: #01c605;
    clear: both;
    flex: 1;
    vertical-align:bottom;
    background-image: url("%=static=%assets/footer/footerBg.png");
    background-size: cover;
    height: 100%;
}

.s-footer__description{
    padding: 50px 0 15px 0;
    width: 100%;
    font-size:15px;
    font-weight: 300;
    text-align: center;
    margin: auto;
}

.s-footer__copyright{
    font-size: 12px;
    width: 100%;
    height: 55px;
    font-family: "Proxima Nova A";
}

.s-footer__copyright-span{
    color: black;
}

.s-footer__copyright-link{
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
    -moz-text-decoration-style: dotted;
    -webkit-text-decoration-style: dotted;
}

.s-footer p{
    margin: 10px 0 0 0;
}
