.s-hero{
    text-align: center;
    flex: 4;
}

.s-hero-title{
    font-size:68px;
    color: #00e904;
    font-weight: bold;
}

.s-hero-description{
    font-size: 42px;
    font-weight: 100;
    max-width: 530px;
    margin: auto;
    padding: 40px 0 70px 0;

    transition: all .5s ease;
    @media(max-width: 340px){
        font-size: 32px;
    }
}

.s-hero-features{
    font-family: "Proxima Nova A", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

.s-hero-span{
    color: #00e904;
    &.s-hero-span-star{
        font-size: 25px;
        vertical-align: 50%;
    }
}


