<section class="s-hero">
    <div class="l-wrap">
    <div class="s-hero-title">{{title}}</div>
        <div class="s-hero-description">{{description}}<span class="s-hero-span s-hero-span-star">*</span></div>
        <div class="s-hero-features">{{#each features}}{{feature}}{{#if needDivider}}<span class="s-hero-span"> | </span>{{/if}}{{/each}}</div>
    </div>
</section>
