.l-header{
    padding: 40px 0 10px 0;
    transition: all .5s ease;
    flex: 2;
    @media(max-width: 768px)
    {
        padding-top: 20px;
    }
}

.l-header-subscribe{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media(max-width: 768px) {
        justify-content: center;
    }
}

.cta-text{
    margin-left: 15px;
    color: #00e904;
}

.cta-pulsar{

}

.cta {
    color: black;
    background: #fcff01;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: width .2s ease-in-out;
    cursor: pointer;
    .hide { display: none; }
    form { display: flex;

    }
    .cta-pulsar {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 2px;
        font-weight: bold;
        font-size: 22px;
        animation: fadeIn .3s ease-in-out;
        animation-delay: .2s;
        animation-fill-mode: forwards;

        :before{
            z-index: -1;
            .wave();
            animation: wave-animate 3s infinite ease-out;
        }

        :after {
            z-index: -1;
            .wave();
            opacity:0;
            animation: wave-animate 3s 1.5s infinite ease-out;
        }
    }
    .input {
        display: none;
        opacity: 0;
        flex: 3;
        text-align: left;
        input {
            border: 0;
            width: 240px;
            height: 45px;
            margin: 0 0 0 25px;
            outline: none;
            color: #000000;
            @media(max-width: 768px){
                width: 160px;
            }
        }
        @media(max-width: 768px){
            width: 100px;
        }
    }
    .button {
        display: none;
        opacity: 0;
        flex: 1;
        button {
            outline: none;
            float: right;
            padding: 0 15px;
            height: 40px;
            background: #06aa09;
            -moz-border-radius: 25px;
            -webkit-border-radius: 25px;
            -khtml-border-radius: 25px;
            border-radius: 25px;
            color: white;
            border: 0;
            margin: 4px 5px 0 5px;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:disabled{ opacity: .8;  }
            @media(max-width: 768px){
                padding: 0 5px;
            }
        }
    }
    &.sent { cursor: default; }
    &.active {
        background-color: white;
        width: 400px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        -khtml-border-radius: 25px;
        border-radius: 25px;
        height: 47px;
        text-align: left;
        transition: width .2s ease-in-out;
        cursor: default;
        .cta-text {display: none;}
        .cta-plus { display: none; }
        .input, .button {
            display: block;
            animation: fadeIn .3s ease-in-out;
            animation-delay: .1s;
            animation-fill-mode: forwards;
        }
        .cta-pulsar {
           display: none;
        }
        @media(max-width: 768px){
            width: 280px;
        }
    }

    @media(max-width: 768px){
        margin: auto;
    }
}

.wave(){
    background: #fcff01;
    position: absolute;
    top: -2px;
    width: 30px;
    height: 30px;
    content: "";
    display: block;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(.7); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes wave-animate {
    0% {
        transform: scale(0);
        opacity: 1;
        transform-origin: center;
    }
    100% {
        transform: scale(3);
        opacity: 0;
        transform-origin: center;
    }
}
