<div class="l-header">
    <div class="l-wrap">
        <div class="u-flex">
            <div class="l-header-logo">
                <a href="#"><img src="%=static=%img/assets/header/melissaLogo.png"></a>
            </div>
            <div class="l-header-subscribe">
                    <div class='cta'>
                        <div class="cta-pulsar">
                            <div>+</div>
                        </div>
                        <form>
                            <div class='input'>
                                <input placeholder='E-mail'>
                            </div>
                            <div class='button'>
                                <button disabled='disabled' type='submit'>{{btnText}}</button>
                            </div>
                        </form>
                    </div>
                <div class="cta-text {{lang}}">
                    {{callToAction}}
                </div>

            </div>
        </div>
    </div>
</div>
