<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head/head head.index.en}}
</head>
<body class="l-body">

        {{> header/header header.en}}

        {{> hero/hero hero.index.en}}

        {{> footer/footer footer.en}}

        {{> endFile/endFile}}

</body>
</html>
