// Common styles of the project

html, body {
    height: 100%;
    max-width: 100%;
    background: #000;
    font-family: 'Proxima Nova';
    background-image: url("%=static=%general/bg.png");
    background-size: cover;
    color: white;
}

main, section, header, footer, aside {
    display: block;
    width: 100%;
}

.l-body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    justify-content: space-between;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.l-wrap{
    max-width: 1000px;
    margin: auto;
    padding: 0 50px;
    @media (max-width: 768px){
        padding: 0 10px;
    }
}

.l-wrap-thin{
    max-width: 840px;
    margin: auto;
    padding: 0 50px;
    @media (max-width: 768px){
        padding: 0 10px;
    }
}

.u-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 768px){
        flex-direction: column;
        justify-content: center;
    }
}
